
    <!--Modal: modalDiscount-->
    <div class="modal fade right" id="modalDiscount" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
      aria-hidden="true" data-backdrop="true">
      <div class="modal-dialog modal-side modal-bottom-right modal-notify modal-primary" role="document">
        <!--Content-->
        <div class="modal-content">
          <!--Header-->
          <div class="modal-header">
            <p class="heading">Login
              <strong>gammer</strong>
            </p>

            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true" class="white-text">&times;</span>
            </button>
          </div>

          <!--Body-->
          <div class="modal-body">

            <div class="row">
              <div class="col-3">
                <p></p>
                <p class="text-center">
                  <i class="fas fa-gamepad fa-4x"></i>
                </p>
              </div>

              <div class="col-9">
                <div class="md-form">
                  <input type="text" id="form1" class="form-control">
                  <label for="form1">Your Email</label>
                </div>
                <p>
                  <div class="md-form">
                    <input type="password" id="form1" class="form-control">
                    <label for="form1">your Password</label>
                  </div>
<br />
                <h2>
                  <a class="badge" href="signup">have't account</a>
                </h2>

              </div>
            </div>
          </div>

          <!--Footer-->
          <div class="modal-footer flex-center">
            <a href="https://mdbootstrap.com/pricing/jquery/pro/" class="btn btn-dark">Let's Login
              <i class="far fa-gem ml-1 white-text"></i>
            </a>
            <a type="button" class="btn btn-outline-danger waves-effect" data-dismiss="modal">No, thanks</a>
          </div>
        </div>
        <!--/.Content-->
      </div>
    </div>
    <!--Modal: modalDiscount-->
