<header class="mdc-top-app-bar nav">
  <div class="mdc-top-app-bar__row">
    <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-start">
        <a routerLink='' class="material-icons mdc-top-app-bar__action-item mdc-icon-button" aria-label="Favorite">polymer</a>
      <span class="mdc-top-app-bar__title">NNA Game</span>
    </section>
    <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-end" role="toolbar">
        <button class="material-icons mdc-top-app-bar__navigation-icon mdc-icon-button" data-toggle="modal" data-target="#modalDiscount" aria-label="Open navigation menu">account_circle</button>
      <button class="material-icons mdc-top-app-bar__navigation-icon mdc-icon-button" aria-label="Open navigation menu">menu</button>
    </section>
    </div>
</header>
<app-sign></app-sign>
<br>
