<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4 arena">Arena NNA Game </h1>
    <a class="btn btn-primary lead">Join Now</a>
    <span class="material-icons btn btn-primary" data-toggle="modal" data-target="#modalYT">
      play_arrow
    </span>
    <div class="md-form active-pink active-pink-2 mb-3 mt-0">
  <input class="form-control" type="text" placeholder="Search Game" aria-label="Search">
  </div>
  </div>
</div>

<div class="container">
<app-menu></app-menu>

</div>
