.jumbotron{
  margin-top:15px;
  position: relative;
  background-size: 100%;
  background-image: url('https://coverfiles.alphacoders.com/455/45542.jpg');
}
.arena{
  font-size:35px;
  color:orange;
  font-weight: bold;
  margin-top:120px;
}
.container{
  height: 150px;
  position: relative;
}
input[type=text]{
  color:white
}

@media only screen and (max-width: 600px) {
  .jumbotron{
    margin-top:50px;
  }
  .container{
    height: 150px;
  }
  .arena{
    display:none;
  }
  .btn{
    margin-top:40px;
    height: 40px;
    background-color: orange;
  }
}
@media only screen and (max-width: 800px) {
  .jumbotron{
    margin-top:20px;
  }
  .container{
    height: 65px;
  }
  .arena{
    display:none;
  }
}
