<!-- <div class="container">
  <h4 class="display-4 text-center mt-4">Daftar Akun</h4>
  <div class="row mt-4">
    <div class="col-md-12">
      <form [formGroup]="signUpForm" (ngSubmit)="signUp()">
        <div class="form-group">
          <label for="exampleInputEmail1">Username</label>
          <input type="text" class="form-control" formControlName="username" id="username" name="username" placeholder="username for login">
        </div>
        <div class="form-group">
          <label for="exampleInputEmail1">Email address</label>
          <input type="email" formControlName="email" class="form-control" id="email" name="email" placeholder="please fill with valid email">
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Password</label>
          <input type="password"  formControlName="password" class="form-control" name="password" id="exampleInputPassword1" placeholder="password min 6 carachter">
        </div>
        <div class="form-group">
          <label for="exampleInputEmail1">Firs Name</label>
          <input type="text" class="form-control" formControlName="namadepan" id="username" name="namadepan" placeholder="username for login">
        </div>
        <div class="form-group">
          <label for="exampleInputEmail1">Last Name</label>
          <input type="text" class="form-control" formControlName="namabelakang" id="username" name="namabelakang" placeholder="username for login">
        </div>
        <div class="form-group">
          <label for="exampleInputEmail1">Uge</label>
          <input type="text" class="form-control" formControlName="umur" id="username" name="umur" placeholder="username for login">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
  </div>
</div> -->
